{%- comment -%}
  Inclua este snippet no <head> ou antes do </body> do theme.liquid
  para carregar Alpine.js v3 (necessário para o Advanced Bundle Builder).
  Exemplo: {% render 'alpine-bundle' %}
{%- endcomment -%}
<script defer src="https://unpkg.com/alpinejs@3.13.3/dist/cdn.min.js"></script>
